:root {
    --primary-dark: #0a0a0a;
    --secondary-dark: #1a1a1a;
    --text-light: #e0e0e0;
    --second-color: #767a9f;
}

body {
    background-color: var(--primary-dark);
    color: var(--text-light);
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    line-height: 1.6; 
}

* {
  box-sizing: border-box;
}

.exo-2-regular {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

h3 {
  font-family: 'Press Start 2P';
  font-size: var(--font-size-h3);
}

h4 {
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Press Start 2P';
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

.li-about-me__1  {
  font-family: 'Press Start 2P'; 
  line-height: 1.7;
  font-size: 12pt
}

.text-link {
  /* text-decoration: none; */
  color: var(--text-light);
}
